<div class="col-sm-12"> <!--- offset by 2 if there won't be a sidebar ------>
	<div class="col-sm-12 mysection first">
	<!-- About -->
	<div class="col-sm-12 mysection">
	<hr style="width: 100%; color: black; height: 1px; background-color:#D2D2D2; margin-top: -20px;" />
		<div class="col-sm-3">
			<%= image_tag 'crocodile.jpg', :class => "img-thumbnail img-responsive", :style => "border-radius: 10%; height: 142.5px; width: 142.5px;"%>
			<div class="col-sm-offset-2">
				<a href="https://www.facebook.com/MohamedSharf47" target="_blank"><i class="fa fa-facebook-square icon" aria-hidden="true"></i></a>
				<a><i class="fa fa-twitter-square icon" aria-hidden="true"></i></a>
				<a><i class="fa fa-linkedin-square icon" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<span class="us-title">Name: </span>
				<span class="us-info">Muhammad El-Sayed Sharaf</span>
			</div>
			<div class="row">
				<span class="us-title">E-mail: </span>
				<span class="us-info">m.sharf47@gmail.com</span>
			</div>
			<div class="row">
				<span class="us-title">Info: </span>
				<span class="us-info">Styding Computer Engineering At Faculty Of Engineering, Alexandria University, Egypt. <br> 3D Designer & Modeller. </span>
			</div>
		</div>
	</div>

	<div class="col-sm-12 mysection">
	<hr style="width: 100%; color: black; height: 1px; background-color:#D2D2D2; margin-top: -20px;" />
		<div class="col-sm-3">
		<%= image_tag 'kangroo.jpg', :class => "img-thumbnail img-responsive", :style => "border-radius: 10%; height: 142.5px; width: 142.5px;"%>
			<div class="col-sm-offset-2">
				<a href="https://www.facebook.com/H.Etsh.Me?fref=pb&hc_location=profile_browser" target="_blank"><i class="fa fa-facebook-square icon" aria-hidden="true"></i></a>
				<a><i class="fa fa-twitter-square icon" aria-hidden="true"></i></a>
				<a href="https://www.linkedin.com/in/hesham-medhat/" target="_blank"><i class="fa fa-linkedin-square icon" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<span class="us-title">Name: </span>
				<span class="us-info">Hesham Medhat</span>
			</div>
			<div class="row">
				<span class="us-title">E-mail: </span>
				<span class="us-info">heshammedhat5@gmail.com</span>
			</div>
			<div class="row">
				<span class="us-title">Info: </span>
				<span class="us-info">Styding Computer Engineering At Faculty Of Engineering, Alexandria University, Egypt.</span>
			</div>
		</div>
	</div>

	<div class="col-sm-12 mysection">
	<hr style="width: 100%; color: black; height: 1px; background-color:#D2D2D2; margin-top: -20px;" />
		<div class="col-sm-3">
			<%= image_tag 'dinosaur.jpg', :class => "img-thumbnail img-responsive", :style => "border-radius: 10%; height: 142.5px; width: 142.5px;"%>
			<div class="col-sm-offset-2">
				<a href="https://www.facebook.com/Miret.Victor15" target="_blank"><i class="fa fa-facebook-square icon" aria-hidden="true"></i></a>
				<a href="https://www.linkedin.com/in/merit-victor-7a97b2124/" target="_blank"><i class="fa fa-linkedin-square icon" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<span class="us-title">Name: </span>
				<span class="us-info">Merit Victor</span>
			</div>
			<div class="row">
				<span class="us-title">E-mail: </span>
				<span class="us-info">meritsvictor1.618@gmail.com</span>
			</div>
			<div class="row">
				<span class="us-title">Info: </span>
				<span class="us-info">Styding Computer Engineering At Faculty Of Engineering, Alexandria University, Egypt.</span>
			</div>
		</div>
	</div>

	<div class="col-sm-12 mysection">
	<hr style="width: 100%; color: black; height: 1px; background-color:#D2D2D2; margin-top: -20px;" />
		<div class="col-sm-3">
			<%= image_tag 'dolphin.jpg', :class => "img-thumbnail img-responsive", :style => "border-radius: 10%; height: 142.5px; width: 142.5px;"%>
			<div class="col-sm-offset-2">
				<a href="https://www.facebook.com/khaled.barie" target="_blank"><i class="fa fa-facebook-square icon" aria-hidden="true"></i></a>
				<a href="https://www.linkedin.com/in/khaled-alkiek/" target="_blank"><i class="fa fa-linkedin-square icon" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<span class="us-title">Name: </span>
				<span class="us-info">Khaled Barie</span>
			</div>
			<div class="row">
				<span class="us-title">E-mail: </span>
				<span class="us-info">k.alkiek@gmail.com</span>
			</div>
			<div class="row">
				<span class="us-title">Info: </span>
				<span class="us-info">Styding Computer Engineering At Faculty Of Engineering, Alexandria University, Egypt.</span>
			</div>
		</div>
	</div>
</div>
</div>
<!-- nicescroll -->
<script src="jquery.nicescroll.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>