<h2>Log ins</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="jLDiGN9yWwH09BKL+5iS4jh4tzyRWp/L0uN9Z1R9Pic2Con1+O4t9OnpD8YXEV2m/xetHrMn4jcktXzIRpF2Wg==">
  <div class="field">
    <label for="user_email">Email</label><br>
    <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
  </div>

  <div class="field">
    <label for="user_password">Password</label><br>
    <input autocomplete="off" type="password" name="user[password]" id="user_password">
  </div>

    <div class="field">
      <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
      <label for="user_remember_me">Remember me</label>
    </div>

  <div class="actions">
    <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
  </div>
</form>
<% end %>

<%= render "devise/shared/links" %>
